<nz-header>
  <div nz-row>
    <div nz-col nzSpan="14">
      <h1>{{ title }}</h1>
    </div>
    <div nz-col nzSpan="10">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input
          #searchBox
          nz-input
          (input)="tableEmoji.onSearch(searchBox.value)"
          type="search"
          placeholder="Search emoji"
          aria-label="Search emoji"
          autofocus="true"
          accesskey="s"
          spellcheck="false"
        />
      </nz-input-group>

      <ng-template #suffixIconSearch>
        <i nz-icon type="search"></i>
      </ng-template>
    </div>
  </div>
</nz-header>
<nz-content>
  <div class="content-wrapper">
    <app-table-emoji #tableEmoji [path]="path"></app-table-emoji>
  </div>
</nz-content>
