

<nz-table #basicTable [nzData]="dataSet">
  <thead>
    <tr>
      <th>Name</th>
      <th>Link</th>
      <th nzWidth="84px">Preview</th>
      <th nzWidth="110px">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.name }}</td>
      <td>
        <a href="{{data.link}}">{{ data.link }}</a>
      </td>
      <td style="text-align: center">
        <ng-template #contentTemplate><img src="{{data.link}}"/></ng-template>
        <img
          width="24"
          src="{{data.link}}"
          nz-popover
          nzPlacement="left"
          [nzContent]="contentTemplate"
        />
      </td>
      <td>
        <button nz-button nzType="default" nzShape="circle">
          <i nz-icon theme="{{data.isfavorite ? 'fill' : 'outline'}}" type="star"></i>
        </button>
        &nbsp;
        <button nz-button nzType="default" nzShape="circle">
          <i nz-icon theme="outline" type="delete"></i>
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
